{
  "presets": [
    "@babel/env",
    [
      "@babel/typescript",
      {
        "onlyRemoveTypeImports": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx",
    {
      "pragma": "h",
      "pragmaFrag": "DocumentFragment"
    }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}